<h1 style="text-align:center">SweetAlert2 Demo</h1><br>
<div class="alert alert-primary m-b-2" role="alert">
  <h2>Simple notification</h2>
  <button class="btn btn-primary" (click)="simpleNotification()">Simple Notification</button>
</div>


<div class="alert alert-success m-b-2" role="alert">
  <h2>Sucess Notification</h2>
  <button class="btn btn-success" (click)="successNotification()">Sucess Notification</button>
</div>

<div class="alert alert-danger m-b-2" role="alert">
  <h2>Error Notification</h2>
  <button class="btn btn-danger" (click)="errorNotification()">Error Notification</button>
</div>

<div class="alert alert-dark m-b-2" role="alert">
  <h2>Input Email Notification</h2>
  <button class="btn btn-dark" (click)="emailNotification()">Input Email Notification</button>
</div>


<div class="alert alert-info m-b-2" role="alert">
  <h2>Confirmation Notification</h2>
  <button class="btn btn-info" (click)="alertConfirmation()">Confirmation Notification</button>
</div>
